$light_blue: #C7F7FF;
$med_blue: #89C0C9;
$dark_blue: #3a5E63;
$light_brown: #C9A689;
$dark_brown: #7C593C;
$light_grey: #d4d4d4;
$dark_grey: #222;
$white: #fff;

$smallFontSize: 1.414rem;
$medFontSize: 1.999rem;
$largeFontSize: 2.827rem;
$xlFontSize: 3.998rem;

$lineHeight: 1.6;